.google-map {
  width: 55%; // 100%; 
  height: 80vh; 
}

.pin {
  display: flex;
  align-items: center;
  width: 15vw;
  color: var(--main-blue);
}

.pin-icon {
  font-size: 2px;
  color: tomato;
}

.pin-text {
  font-size: 1.3em;
  background-color: white;
  opacity: 70%;
  border-radius: 10%
}

// @media screen and (min-width: 799px) {
//   .google-map {
//     height: 80vh;
//   }

//   .map-h2 {
//     font-size: 1.3rem;
//     font-weight: 400;
//   }

//   .pin {
//     width: 15vw;
//   }

//   .pin-icon {
//     font-size: 10vw;
//   }
// }