.popup {
  position: fixed;
  z-index: 1;
  background-color: $off-white;
  border: 5px solid $dark-green;
  border-radius: 8px;
  width: 500px;
  top: 50%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .pu {
    margin: 5%;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  .pu-content {
    width: 100%;
  }
  .pu-header {
    font-size: 150%;
  }
  .pu-body{

  }
}
