.modal {
  // display: block; 
  position: fixed;
  z-index: 1;
  background-color: blue;
  width: 500px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */
}

.modal_content {
  background-color: red;
  position: absolute;
}