.text-inputs {
  display: flex;
  flex-direction: column;
}

.sc-wrapper {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

.sc-wrapper input {
  height: 1.5rem;
  width: 60%;
  border-radius: 3px;
  margin-top: 5px;
}

.sc-wrapper form {
  background-color: white;
  border: 2px solid #2B3239;
  box-shadow: 8px solid rgba(245, 245, 245, 0.685);
  border-radius: 3px;
  padding: 1em 2em;
  margin: 1em;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sc-upload-preview-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

