.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  visibility: visible;

  @media screen and (max-width: 555px) {
    visibility: hidden;
  }
}
.storybook-button--primary {
  color: white;
  background-color: #639e00ff;
}

.storybook-button--primary:hover {
  color: white;
  background-color: rgb(116, 184, 0);
}

.storybook-button--secondary {
  color: white;
  background-color: #0078A2;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.storybook-button--secondary:hover {
  color: white;
  background-color: #0091c5;
}

.storybook-button--danger {
  color: white;
  background-color: rgb(194, 34, 34);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.storybook-button--danger:hover {
  color: white;
  background-color: rgb(228, 39, 39);;
}

.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
.storybook-button--xlarge {
  font-size: 20px;
  padding: 13px 28px;
}

.storybook-button--bar {
  font-size: 20px;
  padding: 13px 200px;
}