//small change
// .sl-wrapper { 
.space-article { 
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  margin-bottom: 4em;
  overflow: hidden;
}

.sl-item {
  border-radius: 2px;
  padding: 2px;
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sl-title {
  background-color: whitesmoke;
  padding-top: 8px;
  padding-left: 15px;
  padding-bottom: 2px;
  font-size: 120%;
  font-weight: 500;
}


.sl-pricebox {
  margin-left: 6em;
}

.sl-price {
  transform: translateY(-70%);
  background-color: white;
  border: 4px solid whitesmoke;
  border-radius: 2px;
  box-shadow: 5px solid rgba(245, 245, 245, 0.685);
  font-size: 140%;
  margin: 0 2em 0 7em;
  padding: 7px;
  
}

.sl-item:hover {
  background-color: #f5f5f5;
  box-shadow: 0 0 10px;
  font-weight: 400;
}