.location-search-input {
  width: 800px;
  height: 100px;
  background: none;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1rem;
  color: black;
}
.input-suggestion {
  width: 60%;
  height: 50px;
  border-bottom: 1px white dotted;
  background-color: $even-more-lightest-blue;
  display: flex;
  align-items: center;
  // position: fixed;
  // z-index: 99999;

  // background-color:white;
  // border:1px solid #C5DBEC;
  // overflow:hidden;
  // padding:0;
  // z-index:99999;
  // position: fixed;
  // top: 0px;
  // margin: 20px 0px 0px 0px;
}
.input-suggestion:hover {
  background-color: $light-blue;
}