.location-search-input {
  width: 800px;
  height: 100px;
  background: none;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1rem;
  color: black;
}
.input-suggestion {
  height: 50px;
  padding: 5px;
  border-bottom: 1px white dotted;
  background-color: $even-more-lightest-blue;
  display: block;
  // position: absolute;
}
.input-suggestion:hover {
  background-color: $light-blue;
  // position: absolute;
  // display: block;
  width: 800px;

}

.autocomplete-dropdown-container {
  overflow: hidden;
  // background-color: pink;
  // border: 2px solid red;
  position: absolute;
  height: auto;
  width: 33%;
 
}

// .pac-container {
//   z-index: 100000;
// }