.location-search-input {
  width: 800px;
  height: 100px;
  background: none;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1rem;
  color: black;
}
.input-suggestion {
  height: 50px;
  padding: 5px;
  border-bottom: 1px white dotted;
  background-color: $even-more-lightest-blue;
  display: block;
}
.input-suggestion:hover {
  background-color: $light-blue;
  width: 800px;
}

.autocomplete-dropdown-container {
  overflow: hidden;
  position: absolute;
  height: auto;
  width: 33%;
 
}
