header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;


  .wrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    height: 64px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    h1 {
      font-family: 'Bebas Neue', cursive;
      color: $dark-grey;
      padding: 0px 4px;
      line-height: 1;
      margin: 6px 6px 6px 10px;
      display: inline-block;
      vertical-align: top;
    }


    h3 {
      font-family: 'Dancing Script', cursive;
      color: $dark-blue;
      font-size: 160%;
      margin: 6px 0 6px 10px;
    }

    h3:hover {
      opacity: .5;
    }


  }

  button + button {
    margin-left: 10px;
    
  
  }

  svg {
  display: inline-block;
  vertical-align: top;
  }


  @media screen and (max-width: 960px) {
    transistion: 0.8s all ease;
  }

}


.header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// .h-logo img {
//   height: 50;
//   width: 50;
//   padding-top: 9px;
// }

.user-greeting-logout {
  display: flex;
}


