.opening-hours-table {
  background-color: $off-white;
  font-size: .9em;
  margin: auto;
  margin-bottom: 20px;
  table, th, td {
    border: 2px solid lightgrey;
    padding: 1%;
  }
}

@media screen and (min-width: 900px) {
  .opening-hours-table {
    font-size: 1em;
    width: 80%;
  }
}