/* Color variables */
$dark-maroon: #3b0d11ff; // Dark sienna
$dark-grey: #2b3239ff; // Gunmetal
$light-grey: #495159ff; // Charcoal
$dark-blue: #0078a2ff; // Celadon blue
$med-blue: #0089b6ff; // Blue NCS
$light-blue: #a4c0e6ff; // Light steel blue
$lightest-blue: rgb(222, 232, 245); // Beau blue
$dark-green: #639e00ff; // Olive drab 3
$dark-yellow: rgb(204, 201, 0);
$light-green: #d2ff85ff; // Mindaro
$off-white: #f5f5f5ff; // Cultured

$even-more-lightest-blue: rgb(239, 245, 255); // Beau blue

/* Element-specific variables */
$button-primary: $dark-green;
$button-yes: $dark-blue;
$button-no: $dark-maroon;

/* Font variables */
/* Feel free to rename these, I wasn't positive which one goes where */

$banner-font: 'Lato', sans-serif;
$header-font: 'Montserrat', sans-serif;
$body-font: 'Roboto Slab', serif;

/* Mixins */
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Assuming that the parent element has position: relative 
.parent {
  position: relative;
}
.child {
  @include centerer;
} 
*/
