.wrapper {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  height: 1em
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

svg {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

h3 {
    font-weight: 100;
    font-size: 16px;
    margin: 6px 0 6px 10px;
}

button + button {
  margin-left: 10px;
}
