#image {
  height: 800;
  width: 100%;
  border-top: 8px solid rgba(245, 245, 245, 0.685);
  border-bottom: 8px solid rgba(245, 245, 245, 0.685);
  box-shadow: 2px
}

// @keyframes slidein {
//   from {
//     transform: translateX(0%);
//   }

//   to {
//     transform: translateX(100%);
//   }
// }

// #fading img {
//   position:absolute;
//   left:0;
//   }

//   #fading img.top {
//     animation-name: FadeInOut;
//     animation-timing-function: ease-in-out;
//     animation-iteration-count: infinite;
//     animation-duration: 5s;
//     animation-direction: alternate;
//     }