.playing {
  height: 200px;
  width: 200px;
  background-color: blue;
}

.opening-hours-table table, .opening-hours-table th, .opening-hours-table td {
  border: 1px solid black;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  background-color: red;
}

.modal_content {
  background-color: white;
  position: absolute;
}
