.playing {
  height: 200px;
  width: 200px;
  background-color: blue;
}

.opening-hours-table table, .opening-hours-table th, .opening-hours-table td {
  border: 1px solid black;
}

.booking-list {
  background-color: whitesmoke;
}

.booking-list-item:hover {
  background-color: #cbddff;
}
