.footer {
  width: 100%;
  opacity: 80%;
  position: fixed;
  bottom: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $off-white;
  padding-left: 10px;
  padding-right: 10px;
  em {
    font-family: Lato, sans-serif;
    color: $light-grey;
    font-weight: 300;

    a {
      font-family: Lato, sans-serif;
      color: $light-grey;
      font-weight: 300;
    }
  }
}

.footer-section {
  padding: .25em;
  display: flex;
  align-items: center;

  img {
    margin-left: .5em;
    opacity: 40%;

    &:hover {
      opacity: 60%;
    }
  }
}