.city-container {
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media all and (max-width: 730px) {
   font-size: 40%;
  }
}

.city-list {
  display: flex;
  @media all and (max-width: 730px) {
    flex-direction: column;
    font-size: 40%;
  }
}

.city-item {
  font-size: 150%;
  font-weight: 900;
  color: $dark-grey;
  padding:1em 3em;
  margin: 1em 2em;
  border: 2px solid $dark-grey;
  border-radius: 3em;

}

.city-item:hover {
  color: white;
  background-color: $dark-blue;
}