.container {
  margin-top: 2em;
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.city-list {
  display: flex;
  

}
.city-item {
  font-weight: 900;
  color: white;
  padding:1em 5em 1em 5em;
  margin: 2em 4em;
  border-radius: 3em;
  background-color: $dark-maroon;
}