// This is where we will import all of our other .scss files

@import '../components/Login';
@import '../components/Space/OpeningHoursTable';
@import '../components/Dashboard/BookingList';
@import '../components/Dashboard/BookingListItem';
@import '../components/Space/PopUp';
@import '../components/CloudinaryUpload';
@import '../components/AutoComplete';
@import '../components/Spinner';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
}

// sparefonts {
//   font-family: 'Lato', sans-serif;
//   font-family: 'Montserrat', sans-serif;
//   font-family: 'Roboto Slab', serif;
// }