// This is where we will import all of our other .scss files

@import './sass_vars';
@import '../components/Login';
@import '../components/Space/OpeningHoursTable';
@import '../components/Dashboard/BookingList';
@import '../components/Dashboard/BookingListItem';
@import '../components/Space/PopUp';
@import '../components/CloudinaryUpload';
@import '../components/AutoComplete';
@import '../components/Spinner';
@import '../components/Space/Space.scss';
@import '../components/SearchForm';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
  list-style: none;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}