
//adding comment to ensure master reads this file
.space-image {
  height: 400px;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 2em;
  border-radius: 3px;
  background-color: $light-grey;
  border-radius: 2px;
  padding: 2px;
}


.rental-space-title-photo {
  background-color: whitesmoke;
  background-image: url("https://www.transparenttextures.com/patterns/binding-light.png");
  padding: 3em 16em 10em 2em;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  h1 {
    font-size: 200%;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4); 
    margin-bottom: 4px;
  }

  h3 {
   font-family: $body-font;
   font-size: 150%
  
  }
}




.rental-request-form-wrapper {
  transform: translateX(-10%);
  background-color: white;
  border: 5px solid whitesmoke;
  box-shadow: 8px solid rgba(245, 245, 245, 0.685);
  border-radius: 8px;
  padding: 3em 2em;
  margin: 1em;
  width: 60%;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 900px) {
    width: 70%
  }
  @media screen and (max-width: 640px) {
    width: 80%
  }
  

}

.rental-request-container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.alt-payment {
  display: flex;
  justify-content: space-evenly;
}

.rental-request-submit {
  margin-top: 2em;
}