.space-image {
  width: 300px;
  height: 300px;
  margin-bottom: 2em;
}

.rental-space-title-photo h1 {
  font-family: 'Roboto Slab', serif;
  margin-bottom: 2em;
}

.rental-space-title-photo {
  // border: 2px solid #2B3239;
  background-color: $light-green;
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.rental-request-form-wrapper {
  border: 2px solid #2B3239;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 1em;
  width: 50%
}

.rental-request-container {
  display: flex;
}

.alt-payment {
  display: flex;
  justify-content: space-between;
}

.rental-request-submit {
  margin-top: 2em;
}