

.space-image {
  height: 400px;
  width: 400px;
  // margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 3px;
  border-top:10px solid $light-grey;
  border-bottom:4px solid $light-grey;
  border-right:4px solid $light-grey;
  border-left:4px solid $light-grey;

  background-color: $light-grey;
  border-radius: 2px;
  padding: 2px;
  margin-top: 10px;
}


.rental-space-title-photo {
  background-color: whitesmoke;
  padding: 10em 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;

}

.rental-space-title-photo h3 {
  font-family: $body-font;
  font-size: 1.5em;

}



.rental-request-form-wrapper {
  background-color: white;
  border: 2px solid #2B3239;
  box-shadow: 8px solid rgba(245, 245, 245, 0.685);
  border-radius: 3px;
  padding: 3em 2em;
  margin: 1em;
  width: 60%;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 900px) {
    width: 70%
  }
  @media screen and (max-width: 640px) {
    width: 80%
  }
  

}

.rental-request-container {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.alt-payment {
  display: flex;
  justify-content: space-evenly;
}

.rental-request-submit {
  margin-top: 2em;
}